<div class="container">
    <div class="text-end">
        <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEdu">Institución</label>
                    <input type="text" class="form-control" id="nombreEdu" name="nombreEdu" [(ngModel)]="nombreEdu">
                </div>
                <div class="form-group">
                    <label for="descEdu">Descripción</label>
                    <input type="text" class="form-control" id="descEdu" name="descEdu" [(ngModel)]="descEdu">
                </div>
                <div class="form-group">
                    <label for="imgEdu">IMG</label>
                    <input type="text" class="form-control" id="imgEdu" name="imgEdu" [(ngModel)]="imgEdu">
                </div>
                <button class="btn btn-primary">
                    Agregar Educación
                </button>
            </form>
        </div>
    </div>
</div>