<div class="container">
  <div class="row">
    <h1 class="tituloexp text-center text-decoration-underline">Experiencia Laboral</h1>
    <div class="col-lg-12">
      <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged">
        +
      </button>
    </div>
    <div class="col lg 1"></div>
    <div class="col-lg-11">
      <table class="table">
        <tbody>
          <tr *ngFor="let Experiencia of expe">
            <td><img src="{{Experiencia.imgExp}}" width="100px"></td>
            <td>
              <h2>{{Experiencia.nombreExp}}</h2>
            </td>
            <td>{{Experiencia.descExp}}</td>
            <td *ngIf="isLogged"><button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                <i class="bi bi-pencil-fill"></i></button></td>
            <td *ngIf="isLogged"><button class="btn btn-warning" (click)="delete(Experiencia.id)">
                <i class="bi bi-trash-fill"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>