.row{
    padding: 20px;
}
.contenedor{
    width: auto;
}

.titulopro{
    padding: 20px;
    margin: 20px;
}

.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}

.img-proyecto{
    height: 200px;
    width: 400px;
    box-shadow: 3px 3px 3px black;
    background-color: rgba(0, 0, 0, 0.300);
}